## ĐÁNH GIÁ NĂNG LỰC KỸ SƯ KHOA HỌC DỮ LIỆU THÁNG 06 - 2022
#### BÀI THỰC HÀNH (ĐỀ CHÍNH THỨC)

---

Ngày test: 27/06/2022
Thời gian làm bài: 40 phút, từ 17:00 đến 17:40
(+ 5 phút thiết lập môi trường và nộp bài)


**Quy định:**
- Không trao đổi trong suốt quá trình làm bài
- Record màn hình làm bài và share lại cho quanvh8 sau khi kết thúc thời gian test
- **ĐƯỢC** sử dụng tài liệu và tra cứu internet
- Sau khi hoàn thành, tải notebook, gửi về email: quanvh8@viettel.com.vn

**Hướng dẫn làm bài:**

* Chạy toàn bộ lệnh trong phần 0. CHUẨN BỊ MÔI TRƯỜNG
* Làm theo hướng dẫn tại các câu và **CHỈ SỬA** các đoạn code nằm giữa các thẻ:

      # YOUR CODE START
      # / END YOUR CODE

*Lưu ý: hầu hết câu hỏi không có tính tuần tự (không cần hoàn thành câu trước để làm câu sau)*

*Đề thi có một số testcase hỗ trợ DS kiểm tra kết quả, nhưng đây không phải điểm số. Điểm số được giám khảo chấm và gửi lại sau.*



---

### 0. CÀI ĐẶT MÔI TRƯỜNG
Guide: Chạy toàn bộ các lệnh trong phần này

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 61.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=1a318fcaeafa44420b87caad4f0303e563041e645b6778a531ad4e2e51e1834d
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pandas as pd
import numpy as np 
import tensorflow as tf
import gzip
import shutil
import requests 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import roc_auc_score

import pyspark
from pyspark.sql import functions as F

In [3]:
def data_downloader(file_name):
    file_url = 'https://web.archive.org/web/20070214120527/http://lisp.vse.cz/pkdd99/DATA/'+file_name
    file_path = "/content/"+file_name
    
    r = requests.get(file_url, stream = True, verify=False) 
    
    with open( file_path, "wb") as file: 
        for block in r.iter_content(chunk_size = 1024*10): 
            if block: 
                file.write(block)
    print("Loaded "+file_name+" to local path: "+file_path)

In [4]:
spark = pyspark.sql.SparkSession \
    .builder \
    .appName("DS_test") \
    .getOrCreate()

#### DATA: PKDD'99 Financial dataset

Thông tin bộ dữ liệu: https://relational.fit.cvut.cz/dataset/Financial

PKDD'99 Financial dataset contains 606 successful and 76 not successful loans along with their information and transactions.

![Alt text](https://relational.fit.cvut.cz/assets/img/datasets-generated/financial.svg "Schema bộ dữ liệu")

In [5]:
# Tải dữ liệu về
data_downloader("data_berka.zip")

/usr/local/lib/python3.7/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

Loaded data_berka.zip to local path: /content/data_berka.zip

In [6]:
!unzip /content/data_berka.zip

Archive:  /content/data_berka.zip
  inflating: trans.asc
  inflating: order.asc
  inflating: loan.asc
  inflating: district.asc
  inflating: disp.asc
  inflating: client.asc
  inflating: card.asc
  inflating: account.asc

Dữ liệu đã được tải về colab, mở tab "Files" bên trái màn hình để kiếm tra

In [7]:
# Setting to speed up 
spark.sql("set spark.sql.shuffle.partitions=1")

DataFrame[key: string, value: string]

## PHẦN I. PYTHON PROGRAMMING
[4 điểm]
Guide: Sử dụng python thực hiện các yêu cầu sau

**Câu 1**. [2đ] Cho $A$ là một chuỗi thời gian (kiểu dữ liệu numpy array hoặc list), xây dựng thuật toán tìm ra chuỗi con $a \in A$ sao cho $S = a[-1] - a[0]$ (hiệu số phần tử cuối cùng và phần tử đầu tiên) là tối đa và độ phức tạp của thuật toán là $O(n)$

In [ ]:
%%time
def get_subseq(A):
  # YOUR CODE START 
  
  a = 
  # / END YOUR CODE
  return a

In [ ]:
# Testcase
A= [1, 2, 5, 0.5,4, 6, 8, 12, 10, 15, 9, 7, 6, 5, 4, 7, 8 ,9 ]
a = get_subseq(A)
print(a)

# >> expected result: [0.5, 4, 6, 8, 12, 10, 15]

**Câu 2**. [2đ] Vẫn thực hiện yêu cầu của Câu 1 với điều kiện độ dài tối đa của chuỗi $a$ là $k$

In [ ]:
%%time
def get_subseq_limit(A, k):
  # YOUR CODE START 

  a = 
  # / END YOUR CODE
  return a

In [ ]:
# Testcase
A= [1, 2, 5, 0.5,4, 6, 8, 12, 10, 15, 9, 7, 6, 5, 4, 7, 8 ,9 ]
a = get_subseq_limit(A, k=3)
print(a)

# >> expected result: [6, 8, 12]

## PHẦN II. DATA MANIPULATION AND ANALYSIS
[ 10 điểm ] <br>
Guide: Sử dụng pyspark hoặc spark-SQL thực hiện tất cả các câu thuộc phần này.

**Câu 3**. [2đ] Đọc các file vào pyspark dataframe, biết rằng các cột trong các file dữ liệu đều phân cách nhau bởi dấu chấm phấy (;). Lưu tương ứng các dataframe với các file dữ liệu:
- df_loan : "loan.asc"
- df_trans  :"trans.asc"
- df_order  :"order.asc"
- df_account  :"account.asc"

(Xem mô tả quan trọng của dữ liệu phía trên)

In [8]:
df_loan = (
    # YOUR CODE START 
    spark.read.options(header='True', inferSchema='True', delimiter=';').csv('/content/loan.asc')
    # / END YOUR CODE
)

df_trans = (
    # YOUR CODE START 
    spark.read.options(header='True', inferSchema='True', delimiter=';').csv('/content/trans.asc')
    # / END YOUR CODE
)

df_order = (
    # YOUR CODE START 
    spark.read.options(header='True', inferSchema='True', delimiter=';').csv('/content/order.asc')
    # / END YOUR CODE
)

df_account = (
    # YOUR CODE START 
    spark.read.options(header='True', inferSchema='True', delimiter=';').csv('/content/account.asc')
    # / END YOUR CODE
)

In [15]:
df_loan.createOrReplaceTempView('loan_tbl')
df_trans.createOrReplaceTempView('trans_tbl')
df_order.createOrReplaceTempView('order_tbl')
df_account.createOrReplaceTempView('account_tbl')

**Câu 4**. [2đ] Truy xuất top 10 quận (district_id) có số lượng account_id phát hành hàng tháng (tương ứng frequency là POPLATEK MESICNE) là lớn nhất

In [17]:
sql_text = (
    '''
    select *
    from account_tbl
    limit 5
    '''
)
spark.sql(sql_text).toPandas()

   account_id  district_id         frequency    date
0         576           55  POPLATEK MESICNE  930101
1        3818           74  POPLATEK MESICNE  930101
2         704           55  POPLATEK MESICNE  930101
3        2378           16  POPLATEK MESICNE  930101
4        2632           24  POPLATEK MESICNE  930102

In [24]:
# YOUR CODE START 
sql_text = (
    """
    select district_id, count(account_id)
    from account_tbl
    where frequency = 'POPLATEK MESICNE'
    group by district_id
    order by count(account_id) desc
    limit 10
    """
)
spark.sql(sql_text).toPandas()
# / END YOUR CODE

   district_id  count(account_id)
0            1                509
1           70                145
2           74                124
3           54                121
4           68                 81
5           72                 81
6           64                 81
7            5                 60
8           46                 56
9           59                 55

**Câu 5**. [3đ]
Xây dựng ma trận tỷ lệ % loại nợ là A (df_loan.status) tương ứng với loại tài khoản (df_account.frequency) và thời hạn khoản vay (df_loan.duration).

Yêu cầu ma trận: cột: loại tài khoản frequency, hàng: thời hạn khoản vay duration, giá trị: tỷ lệ số lượng nợ A/ tổng số lượng khoản nợ

In [73]:

# YOUR CODE START 
sql_text = (
    """
    select frequency, duration, cnt1/cnt2*100
    from(
      select a.frequency, b.duration, count(*) as cnt1, (select count(*) from loan_tbl) as cnt2
      from(
        select *
        from account_tbl
      ) as a
      inner join(
        select *
        from loan_tbl
      ) as b
      on a.account_id = b.account_id
      group by a.frequency, b.duration
    )
    """
)
spark.sql(sql_text).toPandas()

# / END YOUR CODE

             frequency  duration  ((cnt1 / cnt2) * 100)
0     POPLATEK MESICNE        24              16.715543
1     POPLATEK MESICNE        12              16.422287
2     POPLATEK MESICNE        36              14.369501
3       POPLATEK TYDNE        48               2.346041
4     POPLATEK MESICNE        60              17.741935
5       POPLATEK TYDNE        60               3.079179
6       POPLATEK TYDNE        36               3.665689
7     POPLATEK MESICNE        48              16.715543
8       POPLATEK TYDNE        12               2.052786
9   POPLATEK PO OBRATU        12               0.733138
10  POPLATEK PO OBRATU        24               1.319648
11  POPLATEK PO OBRATU        36               1.026393
12      POPLATEK TYDNE        24               2.199413
13  POPLATEK PO OBRATU        60               0.439883
14  POPLATEK PO OBRATU        48               1.173021

**Câu 6**. [3đ] Ngân hàng quen thuộc của một account_id được định nghĩa là ngân hàng (df_order.bank_to) mà có tổng số giá trị giao dịch (df_order.amount) mà người account_id đó giao dịch nhiều nhất. Trong số các account_id phát hành hàng tháng (POPLATEK MESICNE), người dùng của ngân hàng quen thuộc nào có tỷ lệ nợ loại A thấp nhất?

In [81]:
# YOUR CODE START 
sql_text = (
    """
    select account_id, bank_to, max(cnt)
    from(
      select a.account_id, b.bank_to, count(*) as cnt
      from(
        select *
        from account_tbl
        where frequency='POPLATEK MESICNE'
      ) as a
      inner join(
        select *
        from order_tbl
      ) as b
      on a.account_id = b.account_id
      group by a.account_id, b.bank_to
      )
    group by account_id, bank_to
    """
)
spark.sql(sql_text).toPandas()

# / END YOUR CODE

      account_id bank_to  max(cnt)
0              1      YZ         1
1              2      ST         1
2              2      QR         1
3              3      WX         1
4              3      CD         1
...          ...     ...       ...
5640       11362      ST         1
5641       11362      KL         1
5642        2372      KL         1
5643        7819      WX         1
5644        8159      GH         1

[5645 rows x 3 columns]

### PHẦN III. MODELING
TỰ CHỌN <br>
[ 6 điểm ] <br>
DS chọn 1 trong 2 câu II.a hoặc II.b
**Chỉ sử dụng dữ liệu train đã được chia sẵn để huấn luyện model, không sử dụng tập test.** <br>
Có thể sử dụng tập test để đánh giá độ chính xác của model.

Điểm số được chấm dựa trên độ chính xác của model trên tập test.

**Yêu cầu**: xây dựng mô hình học máy phân loại loại nợ (df_loan.status) dựa trên thông tin từ các bảng dữ liệu đã có (trừ trường nhãn df_loan.status, được sử dụng tất cả các trường còn lại)

**Câu III.a**. Xây dựng mô hình trên môi trường pyspark

In [ ]:
# CHẠY ĐOẠN CODE SAU
train_label, test_label = df_loan.randomSplit([0.7, 0.3], seed=12345)

Chỉ sử dụng các loan_id trong tập train và huấn luyện model

**YÊU CẦU ĐẦU RA** <br>
Dataframe: df_pred {loan_id: int, status: varchar}, trong đó loan_id là các id tương ứng trong bộ test_label

In [ ]:
# YOUR CODE START 



# / END YOUR CODE

**Câu III.b**. Xây dựng mô hình với pandas (sklearn hoặc tensorflow)

In [25]:
# CHẠY ĐOẠN CODE SAU
train_label, test_label = df_loan.randomSplit([0.7, 0.3], seed=12345)
train_label = train_label.toPandas()
test_label = test_label.toPandas()

Chỉ sử dụng các loan_id trong tập train và huấn luyện model

**YÊU CẦU ĐẦU RA** <br>
Dataframe: df_pred {loan_id: int, status: varchar}, trong đó loan_id là các id tương ứng trong bộ test_label

In [48]:
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from keras.models import Sequential
from keras.layers import Dense
from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import GaussianNB

In [26]:
train_label.head()

   loan_id  account_id    date  amount  duration  payments status
0     4959           2  940105   80952        24    3373.0      A
1     4961          19  960429   30276        12    2523.0      B
2     4962          25  971208   30276        12    2523.0      A
3     4967          37  981014  318480        60    5308.0      D
4     4968          38  980419  110736        48    2307.0      C

In [27]:
test_label.head()

   loan_id  account_id    date  amount  duration  payments status
0     4986          97  970810  102876        12    8573.0      A
1     5015         226  980712  109344        12    9112.0      C
2     5036         309  981125   91248        48    1901.0      C
3     5046         349  980909   42816        12    3568.0      C
4     5051         378  971011  230400        60    3840.0      C

In [35]:
# prepare input data
def prepare_inputs(X_train, X_test):
	oe = OrdinalEncoder()
	oe.fit(X_train)
	X_train_enc = oe.transform(X_train)
	X_test_enc = oe.transform(X_test)
	return X_train_enc, X_test_enc

In [36]:
# prepare target
def prepare_targets(y_train, y_test):
	le = LabelEncoder()
	le.fit(y_train)
	y_train_enc = le.transform(y_train)
	y_test_enc = le.transform(y_test)
	return y_train_enc, y_test_enc

In [37]:
X_train = train_label[['loan_id','account_id','date','amount','duration','payments']]
X_test = test_label[['loan_id','account_id','date','amount','duration','payments']]
y_train = train_label[['status']]
y_test = test_label[['status']]

In [40]:
numeric_features = ["amount", "duration"]
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)

In [41]:
categorical_features = ['loan_id','account_id','date','payments']
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

In [45]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

In [59]:
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression())]
)
clf.fit(X_train, y_train)
print("model score: %.3f" % clf.score(X_test, y_test))

model score: 0.660

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# YOUR CODE START 


# / END YOUR CODE

--- YOUR TEST END HERE ---